---
import Post from '@components/Post.astro';
import Layout from '@layouts/Layout.astro';
import Title from '@components/Title.astro';


const allPost = await Astro.glob('./posts/montains/*.md');

---

<Layout title="Montains Posts">
  <Title title="Montains Posts" />
  <main>
    { allPost.map((post) => (
      <Post post={post} />
    )) }
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }

</style>
