

<header>
    <h1>My Blog</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/animales">Animales</a></li>
            <li><a href="/montains">Montañas</a></li>
        </ul>
    </nav>
</header>

<style>
    h1 {
        color: #fff;
        font-size: 2em;
        margin: 0;
      }
      header {
        background-color: #5f5f5f;
        padding: 2em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
      }

      nav ul {
        margin: 0;
        padding: 0;

      }
      nav li {
        display: inline-block;
        margin: 0 1em;
        font-size: 1.5rem;
    }
    nav a, nav a:visited {
        text-decoration: none;
        color: yellow;
    }
</style>